*{
    padding: 0;
    margin: 0;
}

.navbar-color{
    width: 100vw !important;
    background-color: #012E40 !important;

}

.navbar-brand{
    font-family: 'B612 Mono', monospace;
}


.dropdown-basic{
    background-color: #de773c;
    /* color: #de773c; */
}
.dropdown-basic:hover{
    background-color: #de773c;
}
