.calendar-container{
    width: 100%;
    padding: 20px;
    /* display: flex;
    flex-direction: row; */
}

.calendar{
    max-width: 600px;
    
}

calendar::first-letter {
    font-weight: bold;
    color: red !important;
  }

  .fc-daygrid-day-number{
      color:gray !important;
      text-decoration: none;
  }

  .fc-col-header-cell-cushion {
      color: black;
      text-decoration: none;
      text-transform: capitalize;

  }

  .fc-toolbar-title{
      text-transform: capitalize;
  }

.top-container{
    display: flex;
    flex-flow: row wrap;
}

.calendar-container{
    overflow-x: hidden !important;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.form-emotion{
    margin-right: 15px  !important;
}

.form-emotion form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.card-body{
    display: flex;
    flex-flow: column;
    height: fit-content;
}

.color-meaning{
    max-width: 300px;
    margin-right: 15px;
}

.list-group-item{
    padding: 5px;
}

.content-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.calendar{
    width: 400px;
}

