.calendar-container{
    width: 100%;
    padding: 20px;
    /* display: flex;
    flex-direction: row; */
}

.calendar{
    max-width: 600px;
    
}

calendar::first-letter {
    font-weight: bold;
    color: red !important;
  }

  .fc-daygrid-day-number{
      color:gray !important;
      text-decoration: none;
  }

  .fc-col-header-cell-cushion {
      color: black;
      text-decoration: none;
      text-transform: capitalize;

  }

  .fc-toolbar-title{
      text-transform: capitalize;
  }

.top-container{
    display: flex;
    flex-flow: row wrap;
}

.calendar-container{
    overflow-x: hidden !important;
}