* {box-sizing: border-box;}


#inlineFrameExample{
  min-height: 300px;
  min-width: 400px;
  position: fixed;
  bottom: 10px;
  right: 0px;
  height: 70vh;
}

.chatbot-container-embed{
}

.chatbot-container-embed > .container >.chat_widget{
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 800px) {
  #inlineFrameExample{
    width: 100%;
  }
}